<table style="width:100%">
 <caption>Containers</caption>
 <tr>
   <th>Serviço</th>
   <th>Versão</th>
 </tr>
 <% for(var i=0; i < containers.length; i++) { %>
   <% var container = containers[i] %>
   <% var names = container.Image.split(':') %>
   <tr>
     <td><%= names[0] %></td>
     <td><%= names[1] %></td>
   </tr>
   <% } %>
</table>
