<md-toolbar layout-align="center center">
  STAGING
</md-toolbar>
<md-content class='md-padding color-white' layout-xs="column" layout="row" layout-wrap layout-align="center center" flex>
  <md-card ng-repeat="container in vm.containers" ng-class="container.color" flex=30 flex-xs=100>
    <md-card-title>
      <md-card-title-text>
        <div class="md-headline">
          {{container.name | limitTo:20}}
          <span ng-if="container.name.length > 20">...</span>
        </div>
        <div class="md-subhead color-white">
          {{container.state | limitTo:35}}
          <span ng-if="container.state.length > 35">...</span>
        </div>
      </md-card-title-text>
      <div layout-align="end center">
        <md-icon md-font-set="material-icons"> {{container.icon}} </md-icon>
      </div>
    </md-card-title>
    <md-card-content layout="column" layout-align="space-between start">
      <div layout>
        <md-icon md-font-set="material-icons"> query_builder </md-icon>
        <span class="p-l-12" am-time-ago="container.created * 1000"></span>
      </div>
      <div class="p-t-12" layout>
        <md-icon md-font-set="material-icons"> comment </md-icon>
        <div class="p-l-12">
          {{container.status | limitTo:30}}
          <span ng-if="container.status.length > 30">...</span>
        </div>
      </div>
    </md-card-content>
  </md-card>
</md-content>
