<md-toolbar layout-align="center center">
  STAGING
</md-toolbar>
<md-content class='md-padding color-white' layout-xs="column" layout="row" layout-wrap layout-align="center center" flex>
  <md-card ng-repeat="container in vm.containers" ng-class="container.color" flex=33 flex-xs=100>
    <md-card-title>
      <md-card-title-text>
        <div class="md-headline">
          {{container.name | limitTo:20}}
          <span ng-if="container.name.length > 20">...</span>
        </div>
        <span class="md-subhead color-white">{{container.state}}</span>
      </md-card-title-text>
      <div layout-align="end center">
        <md-icon md-font-set="material-icons"> {{container.icon}} </md-icon>
      </div>
    </md-card-title>
    <md-card-content layout="row" layout-align="space-between center">
      <div>
        <md-icon md-font-set="material-icons"> query_builder </md-icon>
        <span am-time-ago="container.created * 1000"></span>
      </div>
      <div>
        <md-icon md-font-set="material-icons"> comment </md-icon>
        <span>{{container.status}}</span>
      </div>
    </md-card-content>
  </md-card>
</md-content>
