.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.grey {
  background-color: grey;
}

.orange {
  background-color: orange;
}

.color-white {
  color: white !important;
}

.material-icons {
  color: white !important;
}

.p-t-12 {
  padding-top:12px;
}

.p-l-12 {
  padding-left: 12px;
}
