.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.grey {
  background-color: grey;
}

.orange {
  background-color: rgb(246,94,1);
}

.color-white {
  color: white !important;
}

.material-icons {
  color: white !important;
}

.p-t-12 {
  padding-top:4px;
  font-size: 20px;
  opacity: 0.8;
}

.p-l-6 {
  padding-left: 6px;
}

md-card md-card-title {
    padding: 16px 16px 8px;
}

html { overflow-y: hidden; }